.toolbar{
    display: flex;
    align-items: center;
    background-color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #EEEEF1;
    position: sticky;
    top: 0;
}

.toolbar-title{
    margin: 0;
    font-size: 16px;
    font-weight: 800;
}

.left-items, .right-items{
    flex: 1;
    padding: 10px;
    display: flex;
}

.right-items{
    flex-direction: row-reverse;
}

.left-items .action-button{
    margin-right: 20px;
}

.right-items .action-button{
    margin-left: 20px;
}

.left-items .action-button:last-child, .right-items .action-button:last-child{
    margin: 0;
}