.messages-list-container{
    padding: 10px;
    padding-bottom: 80px;
}

.empty-messages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
}
.empty-messages p{
    margin-top: 1em;
    font-size: 18px;
}
.empty-messages-image{
    font-size: 150px;
    opacity: 0.3;
}
.empty-messages-annotation{
    display: flex;
    justify-content: center;
    flex-direction: row;
}