.new-conversation-section{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-conversation-section .text-input{
    background: #EEEF;
    flex: none;
}

.submit-btn{
    cursor: pointer;
}