.single-conversation{
    display: flex;
    align-items: center;
    padding: 10px;
}

.single-conversation:hover{
    background: #EEEF;
    cursor: pointer;
}

.conversation-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px!important;
}

.conversation-title{
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}

.conversation-snippet{
    font-size: 14px;
    color: #888;
    margin: 0;
}

.active-conversation{
    background: #EEEF;
}