.compose-message{
    padding: 10px;
    display: flex;
    align-items: center;
    background: #fff;
    border-top: 1px solid #EEEEF1;
    position: fixed;
    width: calc(100% - 350px);
    bottom: 0;
}

.text-input{
    flex: 1;
    border: none;
    font-size: 14px;
    height: 40px;
    background: none;
}

.text-input::placeholder{
    opacity: 0.3;
}

.compose-message .action-button{
    margin-left: 15px;
}

.compose-message .action-button:hover{
    color: #99999C;
}

.action-buttons-compose{
    display: flex;
    position: relative;
}