.action-button{
    color: #007AFF;
    font-size: 28px;
    transition: all 0.1s;
    cursor: pointer;
    margin: 0 0 0 10px;
}

.action-button.filled{
    color: '#007AFF'
}

.action-button:hover{
    cursor: pointer;
    color: #0063CE;
}

.action-button:active{
    color: #007AFF;
    opacity: 0.25;
}