.conversation-search{
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.conversation-search-input{
    background: #F4F4F8;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.conversation-search-input::placeholder{
    text-align: center;
}

.conversation-search-input:focus::placeholder{
    text-align: left;
}

.clear-search-term{
    position: absolute;
    right: calc(5% + 10px);
    top: 22px;
    cursor: pointer;
}